    <!-- head include -->
    <%- include('../includes/head.ejs') %>
    <style>
        #showTermsLink {
            text-decoration: underline;
            cursor: pointer;
            color: blue;
        }
    </style>
</head>
<body>


    <h1>Submit Your Story</h1>
    <!-- action="/terrorTales/submission" method="POST" -->
    <form id="submission_form" onsubmit="sendData(event)">
        
        <div class="form_group" id="legalNameGroup">
            <label for="legalName">Legal Name:</label>
            <input type="text" id="legalName" name="legalName" required placeholder="Enter your legal name">
        </div>

        <div class="form_group" id="creditingNameGroup">
            <label for="creditingName">Crediting Name:</label>
            <input type="text" id="creditingName" name="creditingName" required placeholder="Enter your crediting name">
        </div>

        <div class="form_group" id="emailGroup">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required placeholder="Enter your email address">
        </div>

        <div class="form_group" id="socialMediaGroup">
            <label for="socialMedia">Social Media:</label>
            <div class="inner_formGroup">
                <input type="text" id="socialMedia1" name="socialMedia" placeholder="Facebook">
                <input type="text" id="socialMedia2" name="socialMedia" placeholder="Twitter">
                <input type="text" id="socialMedia3" name="socialMedia" placeholder="Instagram">
                <input type="text" id="socialMedia4" name="socialMedia" placeholder="Other">
            </div>
        </div>

        <div class="form_group" id="websiteGroup">
            <label for="website">Website:</label>
            <input type="text" id="website" name="website" placeholder="Enter your website URL">
        </div>

        <div class="form_group" id="storyTitleGroup">
            <label for="storyTitle">Story Title:</label>
            <input type="text" id="storyTitle" name="storyTitle" required placeholder="Enter your story title">
        </div>

        <div class="form_group" id="storySummaryGroup">
            <label for="storySummary">Story Summary:</label>
            <textarea id="storySummary" name="storySummary" required placeholder="Enter a summary of your story"></textarea>
        </div>

        <div class="form_group" id="tagsGroup">
            <label for="tags">Tags (separated by commas):</label>
            <input type="text" id="tags" name="tags" placeholder="Enter tags separated by commas">
        </div>

        <div class="form_group" id="storyTextGroup">
            <label for="storyText">Write Your Story</label>
            <textarea id="storyText" name="storyText" required placeholder="Enter the text of your story"></textarea>
        </div>


        <div class="form-group" id="categoriesGroup">

            <label for="categories">Select Scary Categories:</label>
        
            <div class="checkbox-group">
                <input type="checkbox" id="SupernaturalHorror" name="categories" value="Supernatural Horror">
                <label for="SupernaturalHorror">Supernatural Horror</label>
            </div>
            
            <div class="checkbox-group">
                <input type="checkbox" id="PsychologicalHorror" name="categories" value="Psychological Horror">
                <label for="PsychologicalHorror">Psychological Horror</label>
            </div>
            
            <div class="checkbox-group">
                <input type="checkbox" id="BodyHorror" name="categories" value="Body Horror">
                <label for="BodyHorror">Body Horror</label>
            </div>
            
            <div class="checkbox-group">
                <input type="checkbox" id="Slasher" name="categories" value="Slasher">
                <label for="Slasher">Slasher</label>
            </div>
            
            <div class="checkbox-group">
                <input type="checkbox" id="FoundFootage" name="categories" value="Found Footage">
                <label for="FoundFootage">Found Footage</label>
            </div>
            
            <div class="checkbox-group">
                <input type="checkbox" id="SciFiHorror" name="categories" value="Sci-Fi Horror">
                <label for="SciFiHorror">Sci-Fi Horror</label>
            </div>
            
            <div class="checkbox-group">
                <input type="checkbox" id="TrueCrime" name="categories" value="True Crime">
                <label for="TrueCrime">True Crime</label>
            </div>
            
            <div class="checkbox-group">
                <input type="checkbox" id="LovecraftianHorror" name="categories" value="Lovecraftian Horror">
                <label for="LovecraftianHorror">Lovecraftian Horror</label>
            </div>
            
            <div class="checkbox-group">
                <input type="checkbox" id="Creepypasta" name="categories" value="Creepypasta">
                <label for="Creepypasta">Creepypasta</label>
            </div>
            
            <div class="checkbox-group">
                <input type="checkbox" id="FolkHorror" name="categories" value="Folk Horror">
                <label for="FolkHorror">Folk Horror</label>
            </div>
            
            <div class="checkbox-group">
                <input type="checkbox" id="BodySnatcherHorror" name="categories" value="Body Snatcher Horror">
                <label for="BodySnatcherHorror">Body Snatcher Horror</label>
            </div>
            
            <div class="checkbox-group">
                <input type="checkbox" id="ZombieApocalypse" name="categories" value="Zombie Apocalypse">
                <label for="ZombieApocalypse">Zombie Apocalypse</label>
            </div>
            
            <div class="checkbox-group">
                <input type="checkbox" id="GothicHorror" name="categories" value="Gothic Horror">
                <label for="GothicHorror">Gothic Horror</label>
            </div>
            
            <div class="checkbox-group">
                <input type="checkbox" id="VampireHorror" name="categories" value="Vampire Horror">
                <label for="VampireHorror">Vampire Horror</label>
            </div>
            
            <div class="checkbox-group">
                <input type="checkbox" id="WerewolfHorror" name="categories" value="Werewolf Horror">
                <label for="WerewolfHorror">Werewolf Horror</label>
            </div>
            
            <div class="checkbox-group">
                <input type="checkbox" id="HauntedHouse" name="categories" value="Haunted House">
                <label for="HauntedHouse">Haunted House</label>
            </div>
            
            <div class="checkbox-group">
                <input type="checkbox" id="OccultHorror" name="categories" value="Occult Horror">
                <label for="OccultHorror">Occult Horror</label>
            </div>
            
            <div class="checkbox-group">
                <input type="checkbox" id="ReligiousHorror" name="categories" value="Religious Horror">
                <label for="ReligiousHorror">Religious Horror</label>
            </div>
            
            <div class="checkbox-group">
                <input type="checkbox" id="MonsterHorror" name="categories" value="Monster Horror">
                <label for="MonsterHorror">Monster Horror</label>
            </div>
            
            <div class="checkbox-group">
                <input type="checkbox" id="AlienInvasion" name="categories" value="Alien Invasion">
                <label for="AlienInvasion">Alien Invasion</label>
            </div>

            <!-- horror -->
            <div class="checkbox-group">
                <input type="checkbox" id="Horror" name="categories" value="Horror">
                <label for="Horror">Horror</label>
            </div>

            <!-- Classic Horror -->
            <div class="checkbox-group">
                <input type="checkbox" id="ClassicHorror" name="categories" value="Classic Horror">
                <label for="ClassicHorror">Classic Horror</label>
            </div>

            <div class="checkbox-group">
                <input type="checkbox" id="HorrorComedy" name="categories" value="Horror Comedy">
                <label for="HorrorComedy">Horror Comedy</label>
            </div>

            <div class="checkbox-group">
                <input type="checkbox" id="HorrorDrama" name="categories" value="Horror Drama">
                <label for="HorrorDrama">Horror Drama</label>
            </div>

            <div class="checkbox-group">
                <input type="checkbox" id="HorrorThriller" name="categories" value="Horror Thriller">
                <label for="HorrorThriller">Horror Thriller</label>
            </div>

            <div class="checkbox-group">
                <input type="checkbox" id="HorrorMystery" name="categories" value="Horror Mystery">
                <label for="HorrorMystery">Horror Mystery</label>
            </div>

            <div class="checkbox-group">
                <input type="checkbox" id="HorrorRomance" name="categories" value="Horror Romance">
                <label for="HorrorRomance">Horror Romance</label>
            </div>

            <!-- Survival Horro -->
            <div class="checkbox-group">
                <input type="checkbox" id="SurvivalHorror" name="categories" value="Survival Horror">
                <label for="SurvivalHorror">Survival Horror</label>
            </div>

            <!--  Abductions and Kidnappings -->
            <div class="checkbox-group">
                <input type="checkbox" id="AbductionsAndKidnappings" name="categories" value="Abductions and Kidnappings">
                <label for="AbductionsAndKidnappings">Abductions and Kidnappings</label>
            </div>

            <!-- Toys and Dolls -->
            <div class="checkbox-group">
                <input type="checkbox" id="ToysAndDolls" name="categories" value="Toys and Dolls">
                <label for="ToysAndDolls">Toys and Dolls</label>
            </div>

            <!-- Urban Legends -->
            <div class="checkbox-group">
                <input type="checkbox" id="UrbanLegends" name="categories" value="Urban Legends">
                <label for="UrbanLegends">Urban Legends</label>
            </div>

            <!-- Technology, the Internet, and the Deep Web -->
            <div class="checkbox-group">
                <input type="checkbox" id="TechnologyTheInternetAndTheDeepWeb" name="categories" value="Technology, the Internet, and the Deep Web">
                <label for="TechnologyTheInternetAndTheDeepWeb">Technology, the Internet, and the Deep Web</label>
            </div>

            <!-- Myths and Legends -->
            <div class="checkbox-group">
                <input type="checkbox" id="MythsAndLegends" name="categories" value="Myths and Legends">
                <label for="MythsAndLegends">Myths and Legends</label>
            </div>

            <!-- Madness, Paranoia, and Mental Illness -->
            <div class="checkbox-group">
                <input type="checkbox" id="MadnessParanoiaAndMentalIllness" name="categories" value="Madness, Paranoia, and Mental Illness">
                <label for="MadnessParanoiaAndMentalIllness">Madness, Paranoia, and Mental Illness</label>
            </div>

            <!-- Conspiracies and Government -->
            <div class="checkbox-group">
                <input type="checkbox" id="ConspiraciesAndGovernment" name="categories" value="Conspiracies and Government">
                <label for="ConspiraciesAndGovernment">Conspiracies and Government</label>
            </div>
            
        </div>

        <!-- add extra tags -->
        <div class="form_group" id="extraTagsGroup">
            <label for="extraTags">Extra Tags (separated by commas):</label>
            <input type="text" id="extraTags" name="extraTags" placeholder="Enter extra tags separated by commas">
        </div>


        <div id="termsAndConditions" style="display: none;">
            <h2>TerrorHub.com Terms and Conditions</h2>
    
            <p><strong>Effective Date:</strong> [Insert Date]</p>
    
            <p>By using the services provided by TerrorHub.com (hereafter referred to as "the Website"), you agree to the following terms and conditions:</p>
    
            <h2>Content Submission and Authorization</h2>
    
            <p>By submitting any content, including but not limited to written works, images, videos, or other media (hereafter referred to as "the Content") via the Website's submission form, you hereby consent to and authorize the non-exclusive use by TerrorHub.com (hereafter referred to as "the Publisher") of the Content for the purposes of publishing it on the Website.</p>
    
            <h2>Copyright and Ownership</h2>
    
            <p>You certify that you are the original creator of, and hold lawful copyright to, the Content as submitted via the Website. You also confirm that you possess the legal authority to negotiate with third parties regarding its use and publication. The Publisher acknowledges that all rights in and to the Content are retained by you, except for the non-exclusive authorization for publication granted under this agreement.</p>
    
            <h2>Pen Name</h2>
    
            <p>You have the option to use either your legal name or a fictitious pen name in conjunction with the publication of the Content on the Website.</p>
    
            <h2>Commercial Nature</h2>
    
            <p>You understand that TerrorHub.com is a for-profit website, commercial in nature, and that it is, or will be, supported by advertisements and/or other revenue-generating mechanisms.</p>
    
            <h2>Edits and Formatting</h2>
    
            <p>The Publisher may make minor edits to the Content, such as correcting typographical errors, punctuation, or formatting, without your express written approval. In the event substantive changes to the Content are deemed necessary, you consent to such edits, provided that the Publisher makes reasonable efforts to inform you of any such changes prior to publication and seeks your approval in writing.</p>
    
            <h2>Compensation</h2>
    
            <p>You acknowledge and agree that, unless separate written arrangements have been made, you will not receive any monetary compensation from the Publisher in exchange for the publishing of the Content. Publication on TerrorHub.com does not entitle you to royalty payments or a share of revenue generated by the Publisher.</p>
    
            <h2>Negotiations for Compensation</h2>
    
            <p>If you desire monetary compensation for the use of the Content, you should not submit it directly via the Website's submissions page. Instead, you should contact the Publisher directly to negotiate such payments. By submitting your work via the submissions page, you consent to the publication of the Content without compensation.</p>
    
            <h2>Publication Timing</h2>
    
            <p>The timing of the publication of the Content shall be determined at the Publisher's sole discretion, and this agreement does not guarantee publication within a particular timeframe or at all.</p>
    
            <h2>Removal and Revisions</h2>
    
            <p>You may request the removal or revision of the Content by communicating with the Publisher directly. The Publisher will honor such requests, made by the original author or legal representative, in as timely a manner as possible.</p>
    
            <h2>Unauthorized Duplication</h2>
    
            <p>You agree to hold the Publisher harmless and not consider them liable for any unauthorized and/or unlawful duplication of the Content by third parties. The Publisher retains the right to enforce its copyrights and prevent unlawful commercial use of its publications but is not obligated to do so.</p>
    
            <p>These terms and conditions constitute a binding agreement between you and TerrorHub.com. By using the Website's services, you acknowledge that you have read and understood these terms and agree to be bound by them.</p>
    
            <h2>Contact Information</h2>
            <p>If you have any questions or concerns regarding these terms and conditions, please contact us at [Insert Contact Information].</p>
    
            <h2>Changes to Terms</h2>
            <p>TerrorHub.com reserves the right to modify these terms and conditions at any time. Any changes will be posted on the Website, and it is your responsibility to review them periodically. Your continued use of the Website's services constitutes your acceptance of any such changes.</p>
        </div> 

         <!-- Age Verification -->
         <div class="form-group" id="ageVerificationGroup">
            <input type="checkbox" id="ageVerification" name="ageVerification" required value="true">
            <label for="ageVerification">I verify that I am at least 18 years old</label>
        </div>        

        <div class="form_group" id="acceptedTermsGroup">
            <label for="acceptedTerms">I accept the terms and conditions</label>                       
            <input type="checkbox" id="acceptedTerms" name="acceptedTerms" required value="true">
            <a href="#termsAndConditions" id="showTermsLink">Show Terms and Conditions</a>            
        </div>

        <!-- i have read the terms and conditions -->
        <div class="form_group" id="termsAndConditionsGroup">
            <label for="termsAndConditions">I have read the terms and conditions</label>
            <input type="checkbox" id="read_termsAndConditions" name="termsAndConditions" required value="true">
        </div>

        <!-- You can add more fields for rating and reporting here --->
        <input type="hidden" id="csrf" name="_csrf" value="<%= csrfToken %>">
        <input type="submit" value="Submit">
    </form>


    <!-- script -->
    <script>
        // Get the terms div and show/hide link by their IDs
        var termsDiv = document.getElementById('termsAndConditions');
        var showTermsLink = document.getElementById('showTermsLink');
    
        // Function to toggle visibility of terms
        function toggleTerms() {
            if (termsDiv.style.display === 'none') {
                termsDiv.style.display = 'block';
                showTermsLink.textContent = 'Hide Terms and Conditions';
            } else {
                termsDiv.style.display = 'none';
                showTermsLink.textContent = 'Show Terms and Conditions';
            }
        }
    
        // Add a click event listener to the link
        showTermsLink.addEventListener('click', toggleTerms);
    </script>
    <script src="../../JS/master.js"></script>  
    <script src="../../JS/submission.js"></script>
</body>
</html>
