    <!-- head include -->
    <%- include('../includes/head.ejs') %>
</head>
<body>


    <h1>terrorTales</h1>
    <!-- /terrorTales/home -->
    <a href="/terrorTales/submission">submission</a>


    <!-- script -->
    <script src="../../JS/master.js"></script>  
</body>
</html>