    <!-- head include -->
    <%- include('../includes/head.ejs') %>

    <style>
        .story{
            margin: 10px;
            border: solid 4px black;
            padding: 10px;
        }
    </style>
</head>
<body>


    <h1>terrorTales</h1>
    <!-- /terrorTales/home -->
    
    <!-- home -->
    <a href="/">home</a>

    <a href="/deathClock/questions">questions</a>

    <!-- /graveyard -->
    <a href="/deathClock/graveyard">graveyard</a>

    <a href="/terrorTales/submission">submission</a>
    
    <!-- do not allow to refresh -->
    <form id="search_stories">

        
        <!-- global search input -->
        <div class="inputWrap" id="searchWrap">
            <label for="search">Search:</label><br>
            <input class="queryData" type="text" id="search" name="search" placeholder="Title,Author,tags,Catagories...."><br>
        </div>

        <div class="inputWrap" id="languageWrap">
            <label for="language">Language:</label><br>
            <select class="selectQueryData" id="language" name="language">
                <option value="">Select...</option>
                <option value="English">English</option>
                <option value="Spanish">Spanish</option>
                <option value="French">French</option>
                <!-- Add as many languages as you need -->
            </select><br>
        </div>

        <div class="inputWrap" id="rankingWrap">
            <label for="ranking">Top Ranking:</label><br>
            <input class="selectQueryData" type="number" id="ranking" name="ranking" min="1"><br>
        </div>

        <!-- csrf -->
        <input id="csrf" type="hidden" name="_csrf" value="<%= csrfToken %>">

    </form>


    <!-- story list -->
    <div id="storyList">
        <h2>Story List</h2>
        <div id="storyListWrap">
            <!-- story list goes here -->
        </div>

    </div>

    <!-- pagination button -->
    <button id="loadMore">Load More</button>

    <!-- script -->
    <script src="../../JS/master.js"></script>  
    <script src="../../JS/storyPageFun.js"></script>  
</body>
</html>