    <!-- head include -->
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../../CSS/graveYard.css">
</head>
<body>


    <!-- nav include -->
    <%- include('../includes/nav.ejs') %>

    <!-- header include -->
    <%- include('../includes/secHeader.ejs') %>


    <main id="main">

        <!-- title -->
        <div id="top_title_wrap">
            <h2 id="topTitle">
                TERROR HUB'S GRAVEYARD
            </h2>
            <p id="article">
                
            </p>
        </div>


        <section id="graveyard">

            <ul id="graveyard_wrap"></ul>

            <!-- load more button -->
            <button id="loadMore" class="call_to_action_red">Load More</button>

        </section>
        

    </main>
    
    <script src="../../JS/master.js"></script> 
    <script src="../../JS/graveyardApp.js"></script> 
</body>
</html>