<!-- head include -->
<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="../../../CSS/deathPredictions.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>

    
    <!-- nav include -->
    <%- include('../includes/nav.ejs') %>
    <!-- header include -->
    <%- include('../includes/secHeader.ejs') %>


    <main id="main">

        <section class="section_wrap">

            <div class="section_container_header">
                
                <h2><span class="special_yellow_text">DEATH PREDICTION</span></h2>

                <!-- SHARE BUTTONS -->
                <div id="shareLinks_wrap">                    
                    <div id="shareLinks">
                        <a href="" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a href="" target="_blank"><i class="fab fa-pinterest-p"></i></a>
                    </div>
                    <h3>Share your results</h3>
                </div>                    

            </div>

        </section>


        <section class="section_wrap">

            <div class="inner_sectionHeader_wrap">
                <h2>YOU HAVE APPROXIMATELY</h2>
            </div>


            <div id="inner_sectionWrap_1">

                <!-- left and right divs -->
                <ul class="deathInfo_wrap_ul">

                    <li class="userDeath_info_cards">
                        <h3 class="card_header">YEARS LEFT</h3>
                        <p class="deathInfo loading_dotts" id="yearsLeft"></p>
                    </li>
                    <li class="userDeath_info_cards">
                        <h3 class="card_header">MONTHS LEFT</h3>
                        <p class="deathInfo loading_dotts" id="monthsLeft"></p>
                    </li>
                    <li class="userDeath_info_cards">
                        <h3 class="card_header">WEEKS LEFT</h3>
                        <p class="deathInfo loading_dotts" id="weeksLeft"></p>
                    </li>
                    <li class="userDeath_info_cards">
                        <h3 class="card_header">DAYS LEFT</h3>
                        <p class="deathInfo loading_dotts" id="daysLeft"></p>
                    </li>
                    <li class="userDeath_info_cards">
                        <h3 class="card_header">HOURS LEFT</h3>
                        <p class="deathInfo loading_dotts" id="hrsLeft"></p>
                    </li>
                    <li class="userDeath_info_cards">
                        <h3 class="card_header">MINUTES LEFT</h3>
                        <p class="deathInfo loading_dotts" id="minLeft"></p>
                    </li>
                    <li class="userDeath_info_cards">
                        <h3 class="card_header">SECONDS LEFT</h3>
                        <p class="deathInfo loading_dotts"  id="secLeft"></p>
                    </li>

                </ul>

                <div class="grave_wrap">

                    <!-- GRAVE IMAGE -->
                    <!-- <img src="../../../IMAGES/utils/Grave.webp" alt="grave"> -->

                    <!-- USER INFO -->
                    <div class="user_info">
                        <h3>IN LOVING MEMORY</h3>
                        <h4>TAKEN FROM US ON</h4>
                        <p id="deathYear" class="loading_dotts"></p>
                        <h5>REST IN PEACE</h5>
                    </div> 

                </div>

            </div>

        </section>

        <section class="section_wrap" id="stats">

            <div class="inner_sectionHeader_wrap">
                <h2>HOW DO YOU COMPARE WITH ALL <span class="special_yellow_text">OTHERS?</span></h2>
            </div>

            <div id="charts_">
                <div id="gridLoading" class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                <canvas id="chart"></canvas>
            </div>

        </section>


        <section class="section_wrap">

            <div class="inner_sectionHeader_wrap">
                <h2>YOU HAVE LIVED</h2>
            </div>


            <!-- left and right divs -->
            <ul class="deathInfo_wrap_ul" id="lived_stats_ul">

                <li class="userDeath_info_cards">
                    <h3 class="card_header">YEARS LIVED</h3>
                    <p class="deathInfo loading_dotts" id="yearsLived"></p>
                </li>
                <li class="userDeath_info_cards">
                    <h3 class="card_header">MONTHS LIVED</h3>
                    <p class="deathInfo loading_dotts" id="monthsLived"></p>
                </li>
                <li class="userDeath_info_cards">
                    <h3 class="card_header">WEEKS LIVED</h3>
                    <p class="deathInfo loading_dotts" id="weeksLived"></p>
                </li>
                <li class="userDeath_info_cards">
                    <h3 class="card_header">DAYS LIVED</h3>
                    <p class="deathInfo loading_dotts" id="daysLived"></p>
                </li>
                <li class="userDeath_info_cards">
                    <h3 class="card_header">HOURS LIVED</h3>
                    <p class="deathInfo loading_dotts" id="hrsLived"></p>
                </li>
                <li class="userDeath_info_cards">
                    <h3 class="card_header">MINUTES LIVED</h3>
                    <p class="deathInfo loading_dotts" id="minLived"></p>
                </li>
                <li class="userDeath_info_cards">
                    <h3 class="card_header">SECONDS LIVED</h3>
                    <p class="deathInfo loading_dotts" id="secLived"></p>
                </li>

            </ul>

        </section>


        <section class="section_wrap">

            <div class="inner_sectionHeader_wrap">
                <!-- icon -->
                <h2>YOUR DEATH CLOCK <span class="special_yellow_text">RESULTS EXPLAINED</span></h2>
                <p>
                    Congratulations on discovering your estimated lifespan with the Death Clock. Now, let's delve into what these results mean and how they were calculated.
                </p>
            </div>

            <ul id="cards__wrap_explain">

                <li class="explain_cards">
                    <img src="../../../IMAGES/Icons/anti-age.webp" alt="icon">
                    <h3 class="explainded_h3">Age:</h3>
                    <p class="explainded_p">
                        Your current age is a significant factor in the calculation. The older you are, the closer you are to the average life expectancy.
                    </p>
                </li>
                <li class="explain_cards">
                    <img src="../../../IMAGES/Icons/daily-health-app.webp" alt="icon">
                    <h3 class="explainded_h3">Lifestyle:</h3>
                    <p class="explainded_p">
                        Your lifestyle choices, such as smoking and diet, are considered. Unhealthy habits can reduce your estimated lifespan.
                    </p>
                </li>
                <li class="explain_cards">
                    <img src="../../../IMAGES/Icons/family.webp" alt="icon">
                    <h3 class="explainded_h3">Family History:</h3>
                    <p class="explainded_p">
                        Family medical history can impact your estimated lifespan, influencing your overall life expectancy and health.
                    </p>
                </li>
                <li class="explain_cards">
                    <img src="../../../IMAGES/Icons/yoga.webp" alt="icon">
                    <h3 class="explainded_h3">Activity Level:</h3>
                    <p class="explainded_p">
                        Your level of physical activity is a contributing factor. Regular exercise can increase your life expectancy.
                    </p>
                </li>

            </ul>


        </section>


    </main>

    

    <!-- script -->
    <script>
        var user = <%- JSON.stringify(user) %>;
    </script>
    <script src="../../../JS/master.js"></script>
    <script src="../../../JS/deathclockApp.js"></script>    
</body>
</html>