<div id="supportWrapper">
    <h3>Enjoying the content?</h3>
    <p>Help me keep this website ad-free!</p>
    <a href="https://www.buymeacoffee.com/terrorhub.com" target="_blank">Buy Me A Coffee</a>
</div>