<header id="header">

    <!-- invisible padding 200px -->
    <div id="header_padding"></div>

    <div id="header_inner_wrap">

        <h1 id="heroTitle">
            <span class="h1_inner">Discover the World of</span>
            <span class="h1_inner"><span class="special_yellow_text">Horror and Mystery</span></span>
        </h1>

        <p id="hero_ptag">
            Unveil the unknown with our <span class="special_yellow_text">Death Clock</span>, predicting your potential lifespan. Immerse yourself in chilling tales or share your own <span class="special_yellow_text">Horror Stories</span>. Are you ready to unravel the secrets that await?
        </p>
        
        <!-- Call to action buttons: Calculate my Destiny and Explore Horror Stories -->
        <div id="hero_btns">
            <a href="/deathClock/questions" class="btn btn_primary call_to_action_yellow">Death Clock</a>
            <a href="/terrorTales" class="btn btn_primary call_to_action_red">Horror Stories</a>
        </div>

    </div>

</header>
