<header id="header">

    <!-- invisble padding 200px -->
    <div id="header_padding"></div>

    <div id="header_inner_wrap">

        <h1 id="heroTitle">
            <span class="h1_inner">Unlock the Secrets of</span>
            <span class="h1_inner">Your <span class="special_yellow_text">Mortal Coil</span></span>
        </h1>

        <p id="hero_ptag">
            Embark on the journey of your destiny with our <span class="special_yellow_text">Death Clock.</span> Answer intriguing questions and unveil your predicted lifespan. And if you dare, immerse yourself in spine-chilling tales as you can also explore <span class="special_yellow_text">Creepy Pastas</span> or craft your own. Are you prepared to unravel the enigmas that await you?
        </p>
        

        <!-- Call to action buttons: Calculate my Destiny and Explore Terror Stories -->
        <div id="hero_btns">
            <a href="/deathClock/questions" class="btn btn_primary call_to_action_yellow">Death Clock</a>
            <a href="/terrorTales" class="btn btn_primary call_to_action_red">Creepy Pastas</a>
        </div>

    </div>

</header>
