<header id="header">

    <!-- invisble padding 200px -->
    <div id="header_padding"></div>

    <div id="header_inner_wrap">

        <h1 id="heroTitle">
            <span class="h1_inner">Unlock the Secrets of</span>
            <span class="h1_inner">Your <span class="special_yellow_text">Mortal Coil</span></span>
        </h1>

        <p id="hero_ptag">
            Dive into the realm of fate with our <span class="special_yellow_text">Death Clock.</span>, revealing your predicted lifespan. Brave souls can explore or create their own <span class="special_yellow_text">Creepy Pastas</span>. Ready to uncover the mysteries that await?
        </p>
        

        <!-- Call to action buttons: Calculate my Destiny and Explore Terror Stories -->
        <div id="hero_btns">
            <a href="/deathClock/questions" class="btn btn_primary call_to_action_yellow">Death Clock</a>
            <a href="/terrorTales" class="btn btn_primary call_to_action_red">Creepy Pastas</a>
        </div>

    </div>

</header>
