<header id="header">

    <!-- invisble padding 200px -->
    <div id="header_padding"></div>

    <div id="header_inner_wrap">

        <h1 id="heroTitle">
            <span class="h1_inner">Unlock the Secrets of</span>
            <span class="h1_inner">Your <span class="special_yellow_text">Mortal Coil</span></span>
        </h1>

        <p id="hero_ptag">
            Embark on the journey of your destiny with our <span class="special_yellow_text">Death Clock.</span> Answer intriguing questions and unveil your predicted lifespan. And if you dare, immerse yourself in spine-chilling tales as you can also explore <span class="special_yellow_text">Creepy Pastas</span> or craft your own. Are you prepared to unravel the enigmas that await you?
        </p>
        

        <!-- Call to action buttons: Calculate my Destiny and Explore Terror Stories -->
        <div id="hero_btns">
            <a href="/deathClock/questions" class="btn btn_primary call_to_action_yellow">Death Clock</a>
            <a href="/terrorTales" class="btn btn_primary call_to_action_red">Creepy Pastas</a>
        </div>

    </div>

    <!-- waves svg -->
    <div id="waves_wrap">
        <svg id="svg_waves_header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#000000" fill-opacity="1" d="M0,64L26.7,69.3C53.3,75,107,85,160,101.3C213.3,117,267,139,320,176C373.3,213,427,267,480,250.7C533.3,235,587,149,640,96C693.3,43,747,21,800,42.7C853.3,64,907,128,960,154.7C1013.3,181,1067,171,1120,149.3C1173.3,128,1227,96,1280,80C1333.3,64,1387,64,1413,64L1440,64L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"></path></svg>
    </div>

</header>
