

<!-- large screens nav -->
<nav id="navLargeScreens">

    <ul id="nav_inner_ulWrap">

        <% if(!userActive) {%>
            <li><a class="navLinks_" id="signUp" href="/user/register">Sign Up</a></li>
        <% }else{ %>
            <li id="userAvatartWrap">
                <!-- modify user link to profile once profile is avable -->
                <a class="navLinks_" id="userAvatar" href="/">
                    <!-- get first letter of users name -->
                    <p id="nav_user_avatar"><%= userName.charAt(0).toUpperCase() %></p>
                    <!-- <img src="../../IMAGES/Icons/user.webp" alt="user" id="nav_user_avatar"> -->
                </a>
            </li>
        <% } %> %>

        <li><a class="navLinks_" href="/">Home</a></li>
        <li><a class="navLinks_" href="/#about">About Us</a></li>
        <li><a class="navLinks_" href="/deathClock/questions">DeathClock</a></li>

        <!-- logo circle middle -->
        <li id="largerNav_img_wrap">
            <a class="navLinks_" href="/">
                <picture>
                    <source srcset="../../IMAGES/logos/logo1.webp" type="image/webp"> 
                    <source srcset="../../IMAGES/logos/logo1.png" type="image/png">
                    <img src="../../IMAGES/logos/logo1.webp" alt="logo" id="nav_logo">
                </picture>
            </a>
        </li>

        <li><a class="navLinks_" href="/deathClock/graveyard">GraveYard</a></li>
        <li><a class="navLinks_" href="/terrorTales">CreepyPastas</a></li>
        


        <!-- if path /terrorTales and userActive -->
        <li id="dropDown_wrap_li">
            <a id="open_dropdown" class="navLinks_">Other &#8681;</a>
            <ul id="dropdown_nav">
                <li class="dropdownList">
                    <a href="/disclaimer">Disclaimer</a>
                </li>
                <li class="dropdownList">
                    <a href="/faq">FAQ</a>
                </li>
                <li class="dropdownList">
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </li>

        

        <% if(!userActive) {%>
            <li><a class="navLinks_" id="logIn" href="/user/login">Login</a></li>
        <% }else{ %>
            <li><a class="navLinks_" id="logOut" href="/user/logout">Log Out</a></li>
        <% } %>

        <!-- only avalable in small devices -->
        <li id="userInterFace_wrap">

            <% if(!userActive) {%>
                <a class="navLinks_" id="signUp_small" href="/user/register">Sign Up </a>
                <a class="navLinks_" id="logIn_small" href="/user/login">Login</a>
            <% }else{ %>
                <a class="navLinks_" id="logOut_small" href="/user/logout">Log Out</a>
            <% } %>

        </li>

    </ul>

</nav>


<!-- small screens nav -->
<nav id="navSmallScreens">

    <ul id="navSmall_inner_ulWrap">

        <!-- burger button, logo in middle, other -->
        <li class="nav_small_liWrap">
            <button id="nav_small_burgerButton">
                <div class="icon nav-icon-1">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
            </button>
        </li>

        <li class="nav_small_liWrap" id="smallNav_image_wrap">            
            <a href="/">
                <picture>
                    <source srcset="../../IMAGES/logos/logo1.webp" type="image/webp"> 
                    <source srcset="../../IMAGES/logos/logo1.png" type="image/png">
                    <img src="../../IMAGES/logos/logo1.webp" alt="logo" id="nav_logo2">
                </picture>
            </a>
        </li>

        <% if(!userActive) {%>
            <li><a id="signUp_small" href="/user/register">Sign Up</a></li>
        <% }else{ %>
            <li>
                <a id="userAvatar" href="#">
                    <!-- get first letter of users name -->
                    <p id="nav_user_avatar_small"><%= userName.charAt(0).toUpperCase() %></p>
                    <!-- <img src="../../IMAGES/Icons/user.webp" alt="user" id="nav_user_avatar"> -->
                </a>
            </li>
        <% } %> %>

    </ul>

</nav>



<script>

    // dropdown nav
    const dropdown_nav = document.getElementById('dropdown_nav');
    const open_dropdown = document.getElementById('open_dropdown');

    const dropDownFunction = () => {
       //&#8679; up arrow
         //&#8681; down arrow
        if(dropdown_nav.style.display === 'flex'){
            dropdown_nav.style.display = 'none';
            open_dropdown.innerHTML = 'Other &#8681;';
        }else{
            dropdown_nav.style.display = 'flex';
            open_dropdown.innerHTML = 'Other &#8679;';
        }
    }

    document.getElementById('open_dropdown').addEventListener('click', dropDownFunction);    


</script>

