<header id="header">

    <!-- invisble padding 200px -->
    <div id="header_padding"></div>

    <div id="header_inner_wrap">

        <h1 id="heroTitle">
            <span class="h1_inner"><%- headerTitle %></span>
        </h1> 

    </div>
    

</header>
