    <!-- head include -->
    <%- include('../includes/head.ejs') %>
    <!-- css  -->
    <link rel="stylesheet" href="../../CSS/userInterface.css">
</head>
<body>

    <!-- nav include -->
    <%- include('../includes/nav.ejs') %>  

    <main id="main_wrap">
        <div id="verify_wrap">
            <!-- password reset -->
            <h2>
                Password Reset
            </h2>
            <p>
                Please check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.
            </p>
            <!-- Didn't get the email? -->
            <a class="call_to_action_red" href="/user/resendPasswordReset/<%= id %>">Resend Verification.</a>
        </div>  
    </main>

    <!-- footer include -->
    <%- include('../includes/footer.ejs') %>

    <!-- script -->
    <script src="../JS/master.js"></script> 
</body>
</html>