    <!-- head include -->
    <%- include('../includes/head.ejs') %>
    <!-- css  -->
    <link rel="stylesheet" href="../../CSS/userInterface.css">
</head>
<body>


    <!-- nav include -->
    <%- include('../includes/nav.ejs') %>

    <div id="main_wrap">

        <!-- under construcction img-->
        <div id="underConstruction_wrap" style="padding: 20px;">
            <img src="../../IMAGES/utils/underconstruction.webp" alt="under construction">
        </div>  


    </div>

    <!-- script -->
    <script src="../../JS/master.js"></script> 
</body>
</html>