    <!-- head include -->
    <%- include('../includes/head.ejs') %>
    <!-- css  -->
    <link rel="stylesheet" href="../../CSS/userInterface.css">
</head>
<body>

    <!-- nav include -->
    <%- include('../includes/nav.ejs') %>  

    <main id="main_wrap">
        <div id="verify_wrap">

            <h2>Verification Link Sent</h2>
            <p>We've sent a verification link to your email.</p>
            
            <!-- Didn't get the email? -->
            <a class="call_to_action_red" href="/user/resendVerificationLink/<%= id %>">Resend Verification.</a>
        </div>  
    </main>

    <!-- script -->
    <script src="../JS/master.js"></script> 
</body>
</html>