    <!-- head include -->
    <%- include('./includes/head.ejs') %>
</head>
<body>

    <!-- logout if there is a user -->
    
    <a href="/deathClock/questions">questions</a>
    <!-- add this id: 32adc7bf -->
    <a href="/deathClock/results">results</a>

    <!-- /graveyard -->
    <a href="/deathClock/graveyard">graveyard</a>

    <!-- /terrorTales/home -->
    <a href="/terrorTales">terrorTales</a>

    <!-- log in -->
    <a href="/user/login">Log In</a>
    <!-- register -->
    <a href="/user/register">Register</a>



        <div id="errorContainer">
            <h1><%= statusCode %></h1>
            <h2><%= message %></h2>
            <br>
            <br>
            <a href="/">Home</a>
        </div>


    <!-- script -->
    <script src="../JS/master.js"></script> 
</body>
</html>