    <!-- head include -->
    <%- include('./includes/head.ejs') %>

    <link rel="stylesheet" href="../../../CSS/faq.css">
    
</head>
<body>


    <!-- nav include -->
    <%- include('./includes/nav.ejs') %>

    <!-- header include -->
    <%- include('./includes/secHeader.ejs') %>

    <!-- main -->
    <main>

        <!-- FAQ TITLE1 -->
        <div class="faqTitle_wrap">
            <h2>
                Frequently Asked Questions
            </h2>
        </div>


        <div class="faqWrap">

            <div class="faqItem">
                <h3> 
                    What is Terror Hub?                   
                </h3>
                <p>
                    Terror Hub is a platform dedicated to horror enthusiasts. Users can submit their own horror stories, explore Creepy Pastas, engage in forum discussions, and even predict their lifespan with the Death Clock.
                </p>
            </div>

            <div class="faqItem">
                <h3> 
                    How do I sign up?                   
                </h3>
                <p>
                    To sign up, simply click the " <a href="/user/register">Sign Up</a> " button on the website and fill out the required information. You will receive an email to activate your account. Once activated, you can log in and start exploring the website.
                </p>
            </div>

            <div class="faqItem">
                <h3>
                    How do I submit a story?                    
                </h3>
                <p>
                    To submit a story, Swiftly <a href="/user/register">Sign Up</a> to TerrorHub, activate it via email and simply navigate to the " <a href="/terrorTales/submission">Create Story</a> " section on the website. Make sure to adhere to the submission guidelines and agree to the terms and conditions before submitting.
                </p>
            </div>

            <div class="faqItem">
                <h3>   
                    Can I write my own Creepy Pasta?                 
                </h3>
                <p>
                    Absolutely! Terror Hub welcomes original Creepy Pastas. You can craft your story and <a href="/terrorTales/submission">submit</a> it through the dedicated Creepy Pasta section.
                </p>
            </div>

            <div class="faqItem">
                <h3>   
                    What types of stories can I write?                 
                </h3>
                <p>
                    You can unleash your creativity by writing various horror stories, including Creepy Pastas, short horror tales, psychological horror, supernatural horror, and more. The platform welcomes a diverse range of horror genres, allowing both seasoned writers and newcomers to contribute their chilling narratives.
                </p>
            </div>

            <div class="faqItem" id="wordCount">
                <h3>What are the character and word count requirements for submitting a story?</h3>
                <p>
                    To ensure a consistent and engaging reading experience for our audience, we have specified character and word count limits for submitted stories:
                    <ul>
                        <li><strong>Characters:</strong> Up to 20,602 characters</li>
                        <li><strong>Words:</strong> Approximately 3,026 words</li>
                    </ul>
                    Your story should not exceed these limits. Please use the character count as a primary reference, and note that the word count is provided for your convenience. This helps maintain a balance between concise storytelling and providing enough content for an immersive experience.
                </p>
            </div>
            

            <div class="faqItem" id="imgur">
                <h3>How do I add an image link from Imgur as my story background?</h3>
                <p>
                    To use an image from Imgur as your story background, follow these steps:
                </p>
                <ul>
                    <li>Visit <a href="https://imgur.com/" target="_blank">imgur</a> and log in or create an account if you don't have one.</li>
                    <li>Click on "New post" and upload the image you want to use as your story background.</li>
                    <li>Once your image is uploaded, open the uploaded image by clicking on it.</li>
                    <li>Right-click on the image and choose "Copy image address" or "Copy image link" from the context menu.</li>
                    <li>Return to our submission form and paste the copied link into the "Background Image Link (Imgur)" field.</li>
                    <li>Ensure that the pasted link starts with "https://i.imgur.com/" and ends with a valid image file extension (e.g., .jpg, .png).</li>
                    <li>For optimal performance, consider resizing your image to a landscape orientation with recommended dimensions of 1200 x 630 pixels.</li>
                    <li>Complete the remaining fields in the form, including your story details.</li>
                    <li>Submit your story, and your Imgur image will be set as the background for your story.</li>
                </ul>
            </div>
            
            

            <div class="faqItem">
                <h3>Can I add social media links and YouTube videos to my stories?</h3>
                <p>Absolutely! We encourage you to enhance your stories with additional content. Here are the guidelines:</p>
                <ul>
                    <li>
                        You may add social media links such as Instagram, Twitter, Facebook, etc., that point to your profiles.
                    </li>
                    <li>
                        You are allowed to include a website link as long as it is secure (https).
                    </li>
                    <li>
                        You can add up to 1 YouTube video link per story, referring to the content you've written.
                    </li>
                </ul>
            </div>            

            <div class="faqItem">
                <h3>   
                    How does the Death Clock work?                 
                </h3>
                <p>
                    The <a href="/deathClock/questions">Death Clock</a> is an intriguing feature where users can answer a series of questions designed to predict their lifespan. The results are based on real-life data, adding a unique twist to the experience.
                </p>
            </div>

            <div class="faqItem">
                <h3>   
                    What is the Graveyard?                 
                </h3>
                <p>
                    The Graveyard is a unique feature on Terror Hub where users can join by accepting the embrace of darkness. By adding your clock to our accursed graveyard, your moments will be counted down, and your tombstone becomes a part of it. Once you're in, there's no turning back. It's a captivating way to mark your presence on the platform and let others glimpse your journey into the unknown.
                </p>
            </div>
            

            <div class="faqItem">
                <h3>  
                    Are there any age restrictions?                  
                </h3>
                <p>
                    Yes, users must be at least 18 years old to use certain features like story submissions and accessing specific content areas. Make sure to check the website's <a href="/disclaimer">disclaimer</a> for more details.
                </p>
            </div>

            <div class="faqItem">
                <h3>  
                    How are stories moderated?                  
                </h3>
                <p>
                    Stories undergo a moderation process to ensure they adhere to community guidelines. Content that violates the <a href="/disclaimer">guidelines</a> or is deemed inappropriate will not be approved for publication.
                </p>
            </div>

            <div class="faqItem">
                <h3>   
                    Can I interact with other users?                 
                </h3>
                <p>
                    Absolutely! Terror Hub encourages community engagement. Users can like, comment, and share stories, participate in forum discussions, and even connect with like-minded horror enthusiasts.
                </p>
            </div>

            <div class="faqItem">
                <h3>   
                    How often is the content updated?                 
                </h3>
                <p>
                    New stories, Creepy Pastas, and forum discussions are added regularly. The website aims to provide fresh content to keep users engaged and the horror community thriving.
                </p>
            </div>

            <div class="faqItem">
                <h3>   
                    How many developers are involved in the Terror Hub project?                 
                </h3>
                <p>
                    Terror Hub is a creation by a single self-taught developer who has poured their passion for horror into crafting this platform. The dedication of this lone developer ensures a unique and immersive experience for horror enthusiasts on Terror Hub.
                </p>
            </div>

            <div class="faqItem">
                <h3>Will there be ads on this website?</h3>
                <p>No, the goal of Terror Hub is to remain ad-free. I strive to provide an immersive and uninterrupted experience for users. Instead of relying on ads, I seek support from the community through platforms like Patreon, PayPal donations, and merchandise sales. Additionally, you can also contribute and show your support through <a href="https://www.buymeacoffee.com/terrorhub.com" target="_blank">Buy Me a Coffee</a>. This support helps cover database and server fees, allowing me to maintain and improve the website without resorting to advertisements.</p>
            </div>
            

            <div class="faqItem">
                <h3> 
                    I have more questions. How can I contact support?                   
                </h3>
                <p>
                    For any additional questions or support inquiries, you can reach out to our support team through our Email <a href="mailto:help.terrorhub@gmail.com">help.terrorhub@gmail.com</a>. We're here to help!
                </p>
            </div>

            <div class="faqItem">
                <h3>How can I help the website?</h3>
                <p>Thanks for wanting to support us! You can show your appreciation by buying us a coffee on <a href="https://www.buymeacoffee.com/terrorhub.com" target="_blank">Buy Me a Coffee</a>. Your contribution helps us keep the lights on and continue providing great content.</p>
            </div>

            <div class="faqItem">
                <h3>What do you do with the money from coffee donations?</h3>
                <p>Your generous contributions go towards improving the website, covering server costs, and managing database expenses. I invest in enhancing the user experience, maintaining a reliable server infrastructure, and ensuring the smooth functioning of our databases. Your support directly contributes to making our platform better for everyone.</p>
            </div>
            

            <!-- <div class="faqItem">
                <h3>                    
                </h3>
                <p>
                </p>
            </div> -->

        </div>

    </main>


    <!-- footer include -->
    <%- include('./includes/footer.ejs') %>


    <!-- script -->
    <script src="../JS/master.js"></script> 
</body>
</html>