    <!-- head include -->
    <%- include('./includes/head.ejs') %>

    <link rel="stylesheet" href="../../../CSS/faq.css">
    
</head>
<body>


    <!-- nav include -->
    <%- include('./includes/nav.ejs') %>

    <!-- header include -->
    <%- include('./includes/secHeader.ejs') %>

    <!-- main -->
    <main>

        <!-- FAQ TITLE1 -->
        <div class="faqTitle_wrap">
            <h2>
                Frequently Asked Questions
            </h2>
        </div>


        <div class="faqWrap">

            <div class="faqItem">
                <h3> 
                    What is Terror Hub?                   
                </h3>
                <p>
                    Terror Hub is a platform dedicated to horror enthusiasts. Users can submit their own horror stories, explore Creepy Pastas, engage in forum discussions, and even predict their lifespan with the Death Clock.
                </p>
            </div>

            <div class="faqItem">
                <h3>
                    How do I submit a story?                    
                </h3>
                <p>
                    To submit a story, Swiftly <a href="/user/register">Sign Up</a> to TerrorHub, activate it via email and simply navigate to the " <a href="/terrorTales/submission">Create Story</a> " section on the website. Make sure to adhere to the submission guidelines and agree to the terms and conditions before submitting.
                </p>
            </div>

            <div class="faqItem">
                <h3>   
                    Can I write my own Creepy Pasta?                 
                </h3>
                <p>
                    Absolutely! Terror Hub welcomes original Creepy Pastas. You can craft your story and <a href="/terrorTales/submission">submit</a> it through the dedicated Creepy Pasta section.
                </p>
            </div>

            <div class="faqItem">
                <h3>   
                    What types of stories can I write?                 
                </h3>
                <p>
                    You can unleash your creativity by writing various horror stories, including Creepy Pastas, short horror tales, psychological horror, supernatural horror, and more. The platform welcomes a diverse range of horror genres, allowing both seasoned writers and newcomers to contribute their chilling narratives.
                </p>
            </div>

            <div class="faqItem">
                <h3>   
                    How does the Death Clock work?                 
                </h3>
                <p>
                    The <a href="/deathClock/questions">Death Clock</a> is an intriguing feature where users can answer a series of questions designed to predict their lifespan. The results are based on real-life data, adding a unique twist to the experience.
                </p>
            </div>

            <div class="faqItem">
                <h3>   
                    What is the Graveyard?                 
                </h3>
                <p>
                    The Graveyard is a unique feature on Terror Hub where users can join by accepting the embrace of darkness. By adding your clock to our accursed graveyard, your moments will be counted down, and your tombstone becomes a part of it. Once you're in, there's no turning back. It's a captivating way to mark your presence on the platform and let others glimpse your journey into the unknown.
                </p>
            </div>
            

            <div class="faqItem">
                <h3>  
                    Are there any age restrictions?                  
                </h3>
                <p>
                    Yes, users must be at least 18 years old to use certain features like story submissions and accessing specific content areas. Make sure to check the website's <a href="/disclaimer">disclaimer</a> for more details.
                </p>
            </div>

            <div class="faqItem">
                <h3>  
                    How are stories moderated?                  
                </h3>
                <p>
                    Stories undergo a moderation process to ensure they adhere to community guidelines. Content that violates the <a href="/disclaimer">guidelines</a> or is deemed inappropriate will not be approved for publication.
                </p>
            </div>

            <div class="faqItem">
                <h3>   
                    Can I interact with other users?                 
                </h3>
                <p>
                    Absolutely! Terror Hub encourages community engagement. Users can like, comment, and share stories, participate in forum discussions, and even connect with like-minded horror enthusiasts.
                </p>
            </div>

            <div class="faqItem">
                <h3>   
                    How often is the content updated?                 
                </h3>
                <p>
                    New stories, Creepy Pastas, and forum discussions are added regularly. The website aims to provide fresh content to keep users engaged and the horror community thriving.
                </p>
            </div>

            <div class="faqItem">
                <h3>   
                    How many developers are involved in the Terror Hub project?                 
                </h3>
                <p>
                    Terror Hub is a creation by a single self-taught developer who has poured their passion for horror into crafting this platform. The dedication of this lone developer ensures a unique and immersive experience for horror enthusiasts on Terror Hub.
                </p>
            </div>

            <div class="faqItem">
                <h3>   
                    Will there be ads on this website?                 
                </h3>
                <p>
                    No, the goal of Terror Hub is to remain ad-free. I strive to provide an immersive and uninterrupted experience for users. Instead of relying on ads, I seek support from the community through platforms like Patreon, PayPal donations, and merchandise sales. This support helps cover database and server fees, allowing me to maintain and improve the website without resorting to advertisements.
                </p>
            </div>
            
            

            <div class="faqItem">
                <h3> 
                    I have more questions. How can I contact support?                   
                </h3>
                <p>
                    For any additional questions or support inquiries, you can reach out to our support team through our Email <a href="mailto:help.terrorhub@gmail.com">help.terrorhub@gmail.com</a>. We're here to help!
                </p>
            </div>

            <!-- <div class="faqItem">
                <h3>                    
                </h3>
                <p>
                </p>
            </div> -->

        </div>

    </main>


    <!-- footer include -->
    <%- include('./includes/footer.ejs') %>


    <!-- script -->
    <script src="../JS/master.js"></script> 
</body>
</html>