    <!-- head include -->
    <%- include('./includes/head.ejs') %>
</head>
<body>


    <h1>Grave Yard</h1>


    <!-- script -->
    <script>
        var users = <%- JSON.stringify(users) %>;
    </script>
    <script src="../JS/master.js"></script> 
</body>
</html>