    <!-- head include -->
    <%- include('./includes/head.ejs') %>
</head>
<body>


    <h1>index</h1>
    <a href="/deathclockQuestions">questions</a>
    <!-- add this id: 32adc7bf -->
    <a href="/deathclockResults">results</a>


    <!-- script -->
    <script src="../JS/master.js"></script>
    <script src="../JS/deathClock_questions.js"></script>   
</body>
</html>