<!-- head include -->
<%- include('./includes/head.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
    #charts_ {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
</head>
<body>

    


    <h1>results</h1>
    <p>You have lived for: <span id="timeLived"></span></p>
    <p>You have approximately: <span id="remainingTime"></span></p>
    <p id="predictionStory"></p>

    <div id="charts_">
        <canvas id="chart"></canvas>
    </div>

    

    <!-- script -->
    <script>
        var user = <%- JSON.stringify(user) %>;
    </script>
    <script src="../../../JS/master.js"></script>
    <script src="../../../JS/deathclockApp.js"></script>    
</body>
</html>