<!-- head include -->
<%- include('./includes/head.ejs') %>
<style>
    body{
        width: 100%;
        border: solid 2px red;
    }
    #canvas-container {
    width: 100%;
    height: 100vh;
    overflow: auto; /* Enable scrolling if the content exceeds the container size */
    }
    #canvas {
    background-color: #ffffff;
    /* Set the canvas width and height to 100% to match the container */
    width: 100%;
    height: 100%;
    border: solid 1px #666666;
    }

</style>
</head>
<body>

    


    <h1>results</h1>
    <p>You have lived for: <span id="timeLived"></span></p>
    <p>You have approximately: <span id="remainingTime"></span></p>
    <p id="predictionStory"></p>
    <div id="canvas-container">
        <canvas id="canvas"></canvas>
    </div>
    

    <!-- script -->
    <script>
        var user = <%- JSON.stringify(user) %>;
    </script>
    <script src="../../../JS/master.js"></script>
    <script src="../../../JS/deathClock_app.js"></script>   
</body>
</html>