.special_yellow_text{
    display: inline-block;
}

#header{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #main{
        margin-top: 30px;
    }

        .section_wrap{
            margin-bottom: 30px;
            padding: 20px;
        }


            .section_container_header{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

                .section_container_header h2{
                    margin-bottom: 10px;
                    font-size: 2rem;
                }
                #shareLinks_wrap h3{
                    margin: 0 10px;
                    font-size: 1.3rem;
                    text-align: center;
                }
                #shareLinks{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
                    
                    #shareLinks a{
                        margin: 0 10px;
                        background: white;
                        font-size: 1.3rem;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 20px 10px;
                        color: black;
                        transition: ease 0.3s;
                    }

                    #shareLinks a:hover{
                        background: var(--global-yellow);
                        color: rgb(255, 255, 255);
                    }

            /* DEATH INFO/ LIVED INFO */

            .inner_sectionHeader_wrap{
                margin-bottom: 50px;
            }
                
                    .inner_sectionHeader_wrap h2{
                        padding: 0 15px;
                        font-size: 1.8rem;
                        display: inline;
                        border-bottom: solid 3px var(--global-red);
                        margin-bottom: 20px;
                    }
                    .inner_sectionHeader_wrap p{
                        padding: 10px;
                        font-size: 1.1rem;
                    }

            #inner_sectionWrap_1{
                display: flex;
                flex-direction: column-reverse;
            }       
                .deathInfo_wrap_ul{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
                    .userDeath_info_cards{
                        background: url(../../../IMAGES/Shapes/Layer_dark.webp)no-repeat center/cover;
                        border: solid 2px whitesmoke;
                        padding: 10px;
                        text-align: center;
                        margin: 10px;
                        width: 100%;
                        max-width: 250px;
                        min-width: 200px;
                        min-height: 140px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                        .card_header{
                            background: url(../../../IMAGES/Shapes/redStrpes.webp)no-repeat center/cover;
                            font-size: 1.4rem;
                            margin-bottom: 10px;
                            padding: 5px 10px;
                        }
                        .deathInfo{
                            font-size: 1.3rem;
                            font-weight: bolder;
                        }

                .grave_wrap{
                    width: 100%;
                    height: 400px;
                    padding: 20px;
                    position: relative;
                    margin-bottom: 40px;
                    background: url(../../../IMAGES/utils/Grave.webp)no-repeat center/contain;
                }
                    /* add dark layer to make text more visible */
                    .grave_wrap::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.5);
                        z-index: 1;
                    }
                    .grave_wrap img{
                        width: 100%;
                        max-width: 350px;
                        min-width: 250px;
                        margin: 0 auto;
                    }

                    .user_info{
                        position: absolute;
                        top: 45%;
                        left: 54%;
                        transform: translate(-50%, -50%);
                        z-index: 2;
                        text-align: center;
                    }
                        .user_info h3{
                            font-size: 1.3rem;
                            margin: 10px;
                            padding: 0;                        
                        }
                        .user_info h4{
                            font-size: 1.1rem;
                            margin: 5px;
                            color: var(--global-yellow);
                        }

                        .user_info p{
                            font-size: 1rem;
                            margin: 5px;
                            padding: 0;
                        }

                        .user_info h5{
                            font-size: 1rem;
                            color: var(--global-yellow);
                        }
            
            #charts_{
                display: flex;
                justify-content: center;
                align-self: center;
                width: 100%;
                max-width: 1000px;
                margin: 20px auto;
            }

/* results explained */

#cards__wrap_explain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
    .explain_cards{
        width: 100%;
        min-width: 250px;
        margin-bottom: 20px;
        background-image: url(../../../IMAGES/Shapes/Layer_white.webp);
        min-height: 380px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        flex-direction: column;  
        padding: 50px;  
        max-width: 450px;    
    }
        .explain_cards img{
            margin-top: 30px;
            margin-bottom: 20px;
        }
        .explain_cards h3{
            font-size: 1.5rem;
            margin-bottom: 20px;
        }
@media only screen and (min-width:800px){
    /* SECTION 1 */

    .section_container_header h2{
        font-size: 2.5rem;
    }

    .explain_cards{
        width: calc(100% / 2 - 40px);
    }
}

@media only screen and (min-width:1024px){
    /* SECTION 1 */
    .section_container_header h2{
        font-size: 3rem;
    }

    #inner_sectionWrap_1{
        display: flex;
        flex-direction: row;
    } 

      #inner_sectionWrap_1 .deathInfo_wrap_ul{
        /* width: 80%;     */
      }

      .inner_sectionHeader_wrap h2{
        font-size: 2rem;
      }
}

@media only screen and (min-width:1300px){
   

    #inner_sectionWrap_1{
        display: flex;
        flex-direction: row;
    } 

    .section_wrap{
        width: 80%;
        margin: 20px auto;
    }

    .inner_sectionHeader_wrap h2{
        font-size: 2.2rem;
    }

    #inner_sectionWrap_1 .deathInfo_wrap_ul{
        width: 70%;
    }

    #inner_sectionWrap_1 .grave_wrap{
        width: 30%;
    }
    #lived_stats_ul{
        width: 80%;
        margin: 20px auto;
    }

}