#header{
    min-height: 50vh;
}

#main{
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 2em 0;
}
    #top_title_wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        #top_title_wrap h2{
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 20px;
        }

        #top_title_wrap p{
            font-size: 1.2rem;
            font-weight: 400;
            margin-bottom: 20px;
            text-align: center;
            padding: 10px 0;
        }

    /* form */
    #healthForm{
        display: flex;
        flex-direction: column;
    }

        #healthForm fieldset{
            margin-bottom: 30px;
            border: none;
            font-size: 1.2rem;
            color: var(--global-yellow);
            border-bottom: dotted 3px var(--global-red);
        }
            #healthForm fieldset legend{
                color: var(--global-yellow);
                border-bottom: solid 3px var(--global-red);
                margin-bottom: 20px;
                padding: 10px;
            }
            #healthForm fieldset div{
                margin-bottom: 10px;
                padding: 10px;
                color: white;
            }
            #healthForm fieldset div label{
                font-size: 1.1rem;
                margin-bottom: 10px;
                font-family: Arial, Helvetica, sans-serif;
            }

            #healthForm fieldset div input, #healthForm fieldset div select{
                border: solid 2px var(--global-red);
                background: transparent;
                padding: 10px;
                width:  100%;
                margin-top: 20px;
                color: white;
                background: black;
                font-size: 1.1rem;
            }
            /* placeholder white */
            #healthForm fieldset div input::placeholder, #healthForm fieldset div select::placeholder{
                color: white;
            }

            #healthForm fieldset div input:focus, #healthForm fieldset div select:focus{
                /* color  */
                outline: none;
            }

            /* p */
            #healthForm fieldset p{
                font-size: 1rem;
                padding: 10px;
            }
@media only screen and (min-width:800px){

    #top_title_wrap h2{
        font-size: 2.2rem;
    }

    #top_title_wrap p{
        font-size: 1.3rem;
    }
    #healthForm fieldset{
        font-size: 1.5rem;
    }

    #healthForm fieldset div label{
        font-size: 1.2rem;
    }

}

@media only screen and (min-width:1024px){
    #healthForm{
        width: 90%;
        margin: 0 auto;
    }

    #top_title_wrap p{
        font-size: 1.3rem;
    }
     #healthForm fieldset div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
     }

        #healthForm fieldset div label{
            margin: 0;
            margin-right: 20px;
        }

    #healthForm fieldset{
        font-size: 1.7rem;
    }

     #healthForm fieldset div input, #healthForm fieldset div select{
        max-width: 200px;
        margin: 0;
     }
     
 }

 @media only screen and (min-width:1300px){
    #healthForm{
        width: 80%;
        margin: 0 auto;
    }
}
 @media only screen and (min-width:1500px){
    #healthForm{
       width: 60%;
    }
        #top_title_wrap h2{
            font-size: 2.8rem;
        }
}