@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #000;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    line-height: 1.5;
    /* letter spacing */
    letter-spacing: 0.3px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
    background-color: transparent;
}

/* image */
img{
    max-width: 100%;
    height: auto;
    display: block;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Creepster', cursive;
    font-weight: 400;
}




/* root css tyles */

:root{
    --darker-bg-color: #031a1f;
    --global-bg-color: #040d12;
    --global-yellow: #fac536;
    --global-red: #8c0000;
    /* creepy green */
    --global-green: #00ff00;
    --globlal-brightRed: #ff0000;
    --global-darkred: #480607;
    --global-darkOrange: #eb6612;
    --yellow_gradient: linear-gradient(to bottom, #ffd600, #ffba00, #fb9e00, #f58200, #eb6612);
    --black_trasparent: rgb(0 0 0 / 85%);
    --darkImage_background: linear-gradient(to right bottom, #000000, #0b0b0b, #141414, #1a1a1a, #202020, #202020, #202020, #202020, #1a1a1a, #141414, #0b0b0b, #000000);
}

/* global call to action styles */
.call_to_action_yellow{
    background: none;    
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    border: 2px solid var(--global-yellow);
    font-family: 'Griffy', cursive;
    font-weight: 300;
    font-size: 1.1rem;
    min-width: 150px;
    cursor: pointer;
}

    /* hover */
    .call_to_action_yellow:hover{
        color: black !important;
        background-color: var(--global-yellow);
        border: 2px solid var(--global-yellow);
        color: rgb(255, 255, 255);
    }


.call_to_action_red{ 
    background: none;   
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    border: 2px solid var(--global-red);
    font-family: 'Griffy', cursive;
    font-weight: 300;
    font-size: 1.1rem;
    min-width: 150px;
    cursor: pointer;
}
    
        /* hover */
        .call_to_action_red:hover{            
            background-color: var(--global-red);
            border: 2px solid var(--global-red);
            color: rgb(255, 255, 255);
        }



    /* hover */
    .submitButtonStyles:hover{
        color: black !important;
        background-color: var(--global-yellow);
        border: 2px solid var(--global-yellow);
        color: rgb(255, 255, 255);
    
}


@media only screen and (min-width:800px){
    .call_to_action_yellow, .call_to_action_red{
        font-size: 1.3rem;
        width: 250px;
    }
}



/* global special text */
.special_yellow_text{
    font-family: 'Griffy', cursive;
    color: var(--global-yellow);
    font-weight: 500;
}


/* global special text red */
.special_red_text{
    color: var(--globlal-brightRed);
    font-weight: bolder;
}


/* INDEX PAGE GLOBAL STYLES */
.sections{
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}


/* link styles */
.link_styles{
    color: #1E90FF;
    font-size: 1.1rem;
}

    /* hover */
    .link_styles:hover{
        color: #1387fc;
    }

/* loading dotts */
/* animation loading */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
    .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--globlal-brightRed);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
    }
    @keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
    }
    @keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
    }



    /* grid */
    .lds-grid {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-grid div {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #fff;
        animation: lds-grid 1.2s linear infinite;
      }
      .lds-grid div:nth-child(1) {
        top: 8px;
        left: 8px;
        animation-delay: 0s;
      }
      .lds-grid div:nth-child(2) {
        top: 8px;
        left: 32px;
        animation-delay: -0.4s;
      }
      .lds-grid div:nth-child(3) {
        top: 8px;
        left: 56px;
        animation-delay: -0.8s;
      }
      .lds-grid div:nth-child(4) {
        top: 32px;
        left: 8px;
        animation-delay: -0.4s;
      }
      .lds-grid div:nth-child(5) {
        top: 32px;
        left: 32px;
        animation-delay: -0.8s;
      }
      .lds-grid div:nth-child(6) {
        top: 32px;
        left: 56px;
        animation-delay: -1.2s;
      }
      .lds-grid div:nth-child(7) {
        top: 56px;
        left: 8px;
        animation-delay: -0.8s;
      }
      .lds-grid div:nth-child(8) {
        top: 56px;
        left: 32px;
        animation-delay: -1.2s;
      }
      .lds-grid div:nth-child(9) {
        top: 56px;
        left: 56px;
        animation-delay: -1.6s;
      }
      @keyframes lds-grid {
        0%, 100% {
          opacity: 1;
        }
        50% {
          opacity: 0.5;
        }
      }