#header{
    min-height: 50vh;
}

#main{
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 2em 0;
}
#top_title_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

    #top_title_wrap h2{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 20px;
    }

        #article{
            font-size: 1.2rem;
            font-weight: 400;
            margin-bottom: 20px;
            text-align: center;
            display: block;
            margin-top: 10px;
        }

        /* grave yard */
#graveyard{
    padding: 20px;
}
    #graveyard_wrap{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
        .loading_mold{
            min-height: 300px;
        }
        .gaveyard_graves{
            width: 100%;
            max-width: 350px;
            margin: 10px;
            padding: 10px;
            position: relative;
            overflow: hidden;
            z-index: 0;
        }
            /* add a overlay to make it darker */
            .gaveyard_graves::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgb(0 0 0 / 44%);
                z-index: 1;
            }
            .gaveyard_graves img{
                width: 100%;
            }
            .user_infowrap{
                position: absolute;
                /* center */
                top: 45%;
                left: 55%;
                transform: translate(-50%, -50%);   
                text-align: center;    
                z-index: 2;         
            }

                .user_infowrap h3{
                    font-size: 1.5rem;
                    margin-bottom: 10px;
                }

                .user_infowrap p{
                    font-size: 1.2rem;
                }

                .special_yellow_text{
                    font-size: 1.3rem;
                    display: inline-block;
                    margin-bottom: 5px;
                }

                .user_infowrap a{
                    color: var(--global-yellow);
                    font-size: 1.1rem;
                    margin-top: 10px;   
                    display: block;                 
                }

                /* hover */
                .gaveyard_graves a:hover{
                    color: var(--globlal-brightRed);
                }
                #loadMore{
                    margin: 40px auto;
                }
/* animation loading */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
    .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--globlal-brightRed);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
    }
    @keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
    }
    @keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
    }

@media only screen and (min-width:600px){

    .gaveyard_graves{
        /* max-width: calc(100% / 5 - 20px);
        min-width: 250px; */
    }

}