#header{
    min-height: 100vh;
    background: url("../../IMAGES/backgrounds/headerSmall1.webp") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    z-index: 1;
}

    /* add darker overlay so text better to read */
    #header::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        z-index: 1;
    }
    #header_padding{
        height: 150px;
        width: 100%;
    }
    #header_inner_wrap{
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

            #heroTitle{
                font-size: 3rem;
                color: #fff;
                text-align: center;
                margin-bottom: 20px;            
            }

            #hero_ptag{
                font-size: 1rem;
                color: #fff;
                text-align: center;
                margin-bottom: 20px;
            }

            #hero_btns{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 3em;
            }
                #hero_btns a{
                    margin: 10px;
                }
    #waves_wrap{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 300px;
        overflow: hidden;
        z-index: 1;
    }
        

@media only screen and (min-width:375px){
    #hero_btns{
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (min-width:500px){
    #heroTitle{
        font-size: 4rem;            
    }
}

@media only screen and (min-width:768px){

    #header{
        background: url("../../IMAGES/backgrounds/headerMid1.webp") no-repeat center center/cover;
    }

        #heroTitle{
            font-size: 5rem;            
        }

        #hero_ptag{
            font-size: 1.2rem;
            width: 80%;
        }
        #hero_btns a{
            font-size: 1.2rem;
            padding: 10px 30px;
            width: 250px;
        }
}

@media only screen and (min-width:1024px){

    #header_inner_wrap{
        width: 90%;
    }

        #heroTitle{
            font-size: 4rem;            
        }

        #hero_ptag{
            font-size: 1.2rem;
        }
        #hero_ptag .special_yellow_text{
            display: inline;
        }
        .special_yellow_text{
            display: block;
        }

}


@media only screen and (min-width:1300px){

    #header{
        background: url("../../IMAGES/backgrounds/headerBG1.webp") no-repeat center center/cover;
    }
    #header_inner_wrap{
        width: 80%;
    }
}


@media only screen and (min-width:1500px){
   
    #header_inner_wrap{
        width: 60%;
    }

    #heroTitle{
        font-size: 5rem;            
    }

    #hero_ptag{
        font-size: 1.3rem;
    }
}