#header{
    min-height: 80vh;
    /* background: var(--darkImage_background); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

    .story_secs{
        margin-bottom: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
        #story_info_wrap{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
        }
            .story_info_list{
                margin-right: 10px;
                display: flex;     
                align-items: center;

            }
                .story_info_list img{
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                }

                .story_info_list p{
                    font-size: 0.9rem;
                    color: darkgray;
                }
    #user_info_wrap{
        display: flex;
        align-items: center;
        margin: 10px 0;
        font-size: 1rem;
    }
        #userAvatar_wrap{
            border: solid 2px var(--global-yellow);
            border-radius: 50%;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;            
        }
            .specialCharacter{
                font-size: 1.1rem;
                color: var(--global-yellow);
            }

    #story_wrap{
        max-width: 1000px;
        position: relative;
    }
        #story_wrap p{
            font-size: 1.1rem;
            padding: 6px;
        }

/*  */

#story_actions{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    position: sticky;
    bottom: 0;
    z-index: 100;
    background: black;
}
    .story_actions_list{
        margin-right: 10px;
    }
        .story_actions_list button{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            color: white;
            padding: 5px 20px;
            font-size: 1rem;
            cursor: pointer;
        }
            #upVote{
                background: green;
            }
            #upVote:hover{                
                background: #0eb80e;
            }
            #downVote:hover{
                background: red;
            }
            #report:hover{
                background: darkred;
            }


#socialWrap_icons{
    display: flex;
    flex-wrap: wrap;
}
    #socialWrap_icons h4{
        display: block;
        width: 100%;
        font-weight: 100;
        font-size: 1.1rem;
        margin-bottom: 10px;
        font-family: 'Times New Roman', Times, serif;
    }
    #socialWrap_icons li{
        margin-right: 10px;
        height: 30px;
        width: 30px;
        transition: all 0.3s ease-in-out;
    }
        
        #socialWrap_icons li img:hover{
            /* scale */
            transform: scale(1.2);
        }
    

#related_stories_wrap{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
    #related_stories{
        display: flex;
        flex-direction: column;
    }
        #related_stories h2{
            width: 100%;
            margin-bottom: 20px;
            font-size: 2.5rem;
            text-align: center;
        }
        #related_stories_list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
            .related_stories_list_item{
                width: 100%;
                margin: 10px;
                max-width: 350px;
            }
                .related_stories_list_item a{
                    color: white;
                    padding: 10px;
                }
                    .related_stories_list_item_img{
                        min-height: 250px;
                        background: var(--darkImage_background);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                        .related_stories_list_item_img h3{
                            font-size: 2rem;
                            text-align: center;
                            padding: 20px;
                        }

                    .related_stories_list_item_info{
                        padding: 10px;
                    }

                        .related_stories_list_item_info p{
                            font-size: 1rem;
                        }

                        .dotte_stlye{
                            color: lightgreen;
                            display: block;
                        }

@media only screen and (min-width:800px){
    .related_stories_list_item{
        width: calc(50% - 20px);
    }
}


@media only screen and (min-width:1200px){

    #related_stories{
        width: 90%;
    }

    .related_stories_list_item{
        width: calc(33% - 20px);
    }
}

@media only screen and (min-width:1300px){

    #related_stories{
        width: 80%;
    }
}

@media only screen and (min-width:1600px){

    #related_stories{
        width: 70%;
    }
}