#header{
    min-height: 60vh;
}


#submisson_form_wrap{
    padding: 20px;
    margin-top: 2em;
}

    #subm_title_wrap{
        margin-bottom: 10px;
    }

        #subm_title_wrap h2{
            font-size: 2rem;
            margin: 40px 0;
        }

    #important_message{
        background: var(--global-yellow);
        color: black;
        padding: 20px;
        margin-bottom: 40px;
    }
        #important_message h3 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        #important_message ul{
            margin-left: 10px;
            margin-bottom: 10px;
        }
                
                #important_message ul li{
                    margin-bottom: 10px;                    
                    list-style: disc;
                    list-style-position: inside;
                    font-size: 1;
                }
        #important_message p{
            font-size: 1rem;
        }

    #submisson_form_wrap form{
        display: flex;
        flex-direction: column;
    }

        .form_group{
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }
            .form_group label, #categories_label{
                font-size: 1.2rem;
                margin-bottom: 10px;
                color: var(--global-yellow);
            }

            .form_group input, .form_group select, .form_group textarea{
                padding: 10px;
                font-size: 1.2rem;
                width: 100%;
                margin-bottom: 10px;
            }

            /* select */
            .form_group textarea{
                padding: 10px;
                border-radius: 5px;
                font-size: 1.2rem;
                height: 200px;
            }

            /* p */
            .form_group p{
                font-size: 1rem;
                margin-top: 10px;
            }

        /* #categoriesGroup{

        } */
            #radio_wrap{
                display: flex;
                flex-wrap: wrap;
                margin: 20px 0;
            }
                .checkbox-group{
                    margin: 5px;
                    border: solid 1px var(--global-red);
                    padding: 5px;                    
                }
                    #categoriesGroup label{
                        color: var(--global-yellow);
                        cursor: pointer;
                        color: white;
                    }
                    #categories_label{
                        color: var(--global-yellow) !important;
                    }
                    #categoriesGroup input{
                        margin-right: 5px;
                        cursor: pointer;
                    }

         #termsAndConditions{
            background: black;
            padding: 20px;
            overflow: auto;
            width: 100%;
            height: 50vh;
            display: none;
         }

            #termsAndConditions h2{
                color: var(--global-yellow);
                font-size: 1.3rem;
                margin-bottom: 20px;
            }

            #termsAndConditions p{
                color: white;
                font-size: 1rem;
                margin-bottom: 20px;
            }

        .legalStyles{
            color: var(--global-yellow);
            font-size: 1rem;
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
            .legalStyles input{
                width: auto;
                margin-right: 10px;
                font-size: 1.1rem;
                cursor: pointer;
            }

            .legalStyles label{
                font-size: 1.1rem;
                cursor: pointer;
                margin: 0;
            }

        #termsAndConditionsGroup_info a{
           color: var(--global-red);
           font-size: 1.3rem;
           color: lightgreen;
        }
            /* hover */
            #termsAndConditionsGroup_info a:hover{
                color: var(--global-yellow);
            }

        #storySubmit_form{
            margin: 0 auto;
            margin: 40px auto;
        }

        .inner_formGroup{
            display: flex;
            flex-wrap: wrap;
        }
            .inner_formGroup input{
                margin-right: 10px;
                width: 100%;
                min-width: 200px;
            }


@media only screen and (min-width:600px){
    .inner_formGroup input{
        width: calc(50% - 10px);
    }
}

@media only screen and (min-width:1100px){

    #submisson_form_wrap{
        width: 80%;
        margin: 0 auto;
    }
    #subm_title_wrap h2{
        font-size: 2.5rem;
    }
}

@media only screen and (min-width:1500px){

    #submisson_form_wrap{
        width: 60%;
        margin: 0 auto;
    }
    #subm_title_wrap h2{
        font-size: 3rem;
    }

}