<section id="about" class="sections">

    <!-- Death Clock About -->
    <div class="innserSectionWrap">

        <!-- Death Clock Section -->
        <div id="deathClockAbout" class="about_article_wrap">

            <article class="deathARC_inner" id="deathClock_article">

                <!-- title -->
                <h2 class="about_title">
                    EMBRACING THE DARKNESS WITH THE <br>
                    <span class="special_yellow_text">DEATH CLOCK</span>
                </h2>

                <!-- content -->
                <p class="about_ptag">
                    Welcome to Terror Hub, the realm where darkness is embraced, and mysteries of the macabre come to life.
                </p>

                <p class="about_ptag">
                    Immerse yourself in the eerie experience of the Death Clock, where you'll navigate haunting questions, unveil your destiny, and explore the chilling whispers within our Graveyard.
                </p>

                <!-- buttons -->
                <div class="deathARC_link_wrap" id="callToaction_btn">
                    <a href="/deathClock/questions" class="call_to_action_red">Death Clock</a>
                </div>

            </article>

            <div class="deathARC_inner" id="deathClockImg">                
                <img src="../../IMAGES/backgrounds/deathClockAbout.webp" alt="death clock">
            </div>

        </div>
        <!-- End of Death Clock Section -->

        <!-- Creepy Pasta Section -->
        <div id="creepyPastaAbout" class="about_article_wrap">

            <div class="deathARC_inner" id="creepyPastaImg">                
                <img src="../../IMAGES/backgrounds/crepyPastaAbout.webp" alt="creepy pasta">
            </div>

            <article class="deathARC_inner" id="creepyPasta_article">

                <!-- title -->
                <h2 class="about_title">
                    EMBRACING THE DARKNESS WITH <br>
                    <span class="special_yellow_text">CREEPY PASTAS</span>
                </h2>

                <!-- content -->
                <p class="about_ptag">
                    Welcome to Terror Hub, where we embrace the sinister and unravel mysteries that dwell in the dark.
                </p>

                <p class="about_ptag">
                    Dive into the depths of horror on our Story Forums, submit your own tales of terror, and immerse yourself in stories that haunt the soul. Join us on this journey into the unknown, where time stands still, and fear finds its home.
                </p>

                <!-- buttons -->
                <div class="deathARC_link_wrap">
                    <a href="/terrorTales" class="btn btn_primary call_to_action_yellow">Creepy Pastas</a>
                </div>

            </article>            

        </div>
        <!-- End of Creepy Pasta Section -->

    </div>    
    
</section>
