<section id="about" class="sections">

    <!-- Death Clock About -->
    <div class="innserSectionWrap">

        <!-- Death Clock Section -->
        <div id="deathClockAbout" class="about_article_wrap">

            <article class="deathARC_inner" id="deathClock_article">

                <!-- title -->
                <h2 class="about_title">
                    EMBRACING THE DARKNESS WITH THE <br>
                    <span class="special_yellow_text">DEATH CLOCK</span>
                </h2>

                <!-- content -->
                <p class="about_ptag">
                    Step into a unique realm where the allure of darkness meets the intrigue of destiny. At the heart of our platform is the Death Clock — a captivating experience designed to challenge and thrill. This isn't just any clock; it's a portal to the unknown.
                </p>
                
                <p class="about_ptag">
                    Here, you'll confront haunting questions that probe the depths of your psyche. Unveil your destiny as you navigate through the enigmatic pathways of time.
                </p>

                <p class="about_ptag">
                    Join the eternal Graveyard, where each tombstone becomes a part of it. Return to witness your moments count down, and let others glimpse your journey. Once you're in, there's no turning back.
                </p>                

                <!-- buttons -->
                <div id="buttons_wrap_special">
                    <!-- death clock -->
                    <div class="deathARC_link_wrap" id="callToaction_btn">
                        <a href="/deathClock/questions" class="call_to_action_red">Death Clock</a>                    
                    </div>

                    <!-- graveyard -->
                    <div class="deathARC_link_wrap" id="callToaction_btn">
                        <a href="/deathClock/graveyard" class="call_to_action_yellow">Graveyard</a>
                    </div>
                </div>

            </article>

            <div class="deathARC_inner" id="deathClockImg">                
                <img src="../../IMAGES/backgrounds/deathClockAbout.webp" alt="death clock">
            </div>

        </div>

    </div>    
    
</section>
