<section id="about" class="sections">

    <!-- Death Clock About -->
    <div class="innserSectionWrap">

        <!-- Creepy Pasta Section -->
        <div id="creepyPastaAbout" class="about_article_wrap">

            <div class="deathARC_inner" id="creepyPastaImg">                
                <img src="../../IMAGES/backgrounds/crepyPastaAbout.webp" alt="creepy pasta">
            </div>

            <article class="deathARC_inner" id="creepyPasta_article">

                <!-- title -->
                <h2 class="about_title">
                    EMBRACING THE DARKNESS WITH <br>
                    <span class="special_yellow_text">CREEPY PASTAS</span>
                </h2>

                <!-- Main Content -->
                <p class="about_ptag">
                    Welcome to the heart of the creepypasta world, where mystery meets horror. We're diving deep into chilling tales that have long haunted the internet's darkest corners.
                </p>
            
                <p class="about_ptag">
                    Whether you're into Creepypastas, scary paranormal stories, or short horror microfiction, our Story Forums are your haunt. Join us on this chilling expedition where time halts, and fear becomes your companion.
                </p>

                <!-- Writing Opportunity -->
                <p class="about_ptag">
                    Feeling inspired? Don't hold back! You're welcome to craft and share your own bone-chilling narratives on our Story Forums.
                </p>

                <!-- buttons -->
                <div id="buttons_wrap_special">
                    <div class="deathARC_link_wrap">
                        <a href="/terrorTales" class="btn btn_primary call_to_action_yellow">Creepy Pastas</a>
                    </div>
                    <div class="deathARC_link_wrap">
                        <a href="/terrorTales/submit" class="btn btn_primary call_to_action_red">Submit Your Story</a>
                    </div>
                </div>

            </article>            

        </div>
        <!-- End of Creepy Pasta Section -->

    </div>    
    
</section>
