<section id="about" class="sections">

    <!-- Death Clock About -->
    <div class="innserSectionWrap">

        <!-- Creepy Pasta Section -->
        <div id="creepyPastaAbout" class="about_article_wrap">

            <div class="deathARC_inner" id="creepyPastaImg">                
                <img src="../../IMAGES/backgrounds/crepyPastaAbout.webp" alt="creepy pasta">
            </div>

            <article class="deathARC_inner" id="creepyPasta_article">

                <!-- title -->
                <h2 class="about_title">
                    UNVEILING HORROR LORE AND MYTHS WITH <br>
                    <span class="special_yellow_text">CREEPY PASTAS</span>
                </h2>

                <!-- Main Content -->
                <p class="about_ptag">
                    Embark on a journey into the heart of the Creepy Pasta world, where mystery intertwines with horror, and our forums are home to brand-new chilling tales. Explore captivating narratives, from original Creepy Pastas to compelling paranormal stories and bite-sized horror microfiction.
                </p>
            
                <p class="about_ptag">
                    Our Story Forums are a haven for horror enthusiasts of all skill levels and languages. Join us on this chilling expedition where time halts, and fear becomes your companion.
                </p>

                <!-- Writing Opportunity -->
                <p class="about_ptag">
                    Feeling inspired? No matter your expertise or language, you're invited to craft and share your own bone-chilling narratives on our Story Forums.
                </p>

                <!-- buttons -->
                <div id="buttons_wrap_special">
                    <div class="deathARC_link_wrap">
                        <a href="/terrorTales" class="btn btn_primary call_to_action_yellow">Explore Creepy Pastas</a>
                    </div>
                    <div class="deathARC_link_wrap">
                        <a href="/terrorTales/submit" class="btn btn_primary call_to_action_red">Submit Your Story</a>
                    </div>
                </div>

            </article>            

        </div>
        <!-- End of Creepy Pasta Section -->

    </div>    
    
</section>
