<section id="howItWorks" class="sections">

    <!-- title -->
    <h2 class="about_title">
        HOW IT <span class="special_yellow_text" style="display: inline;">WORKS</span>
    </h2>


    <!-- content -->
    <ul id="howItWorksCards_wrap">

        <li class="howItWorksCards">

            <!-- icons wrap -->
            <div class="innercards_iconWrap">
                <img src="../../IMAGES/Icons/writting.webp" alt="death clock icon">
            </div>

            <!-- cards titles -->
            <h3 class="innercardsTitles">Abyss Writer.</h3>

            <!-- cards content -->
            <p class="innerCardPtag">
                Swiftly <a class="signup" href="/user/register">create your Terror Hub account</a>, activate via email, and begin your instant journey into the abyss.
            </p>

        </li>

        <li class="howItWorksCards">

                <!-- icons wrap -->
                <div class="innercards_iconWrap">
                    <img src="../../IMAGES/Icons/submit.webp" alt="death clock icon">
                </div>

                <!-- cards titles -->
                <h3 class="innercardsTitles">Craft & Submit.</h3>

                <!-- cards content -->
                <p class="innerCardPtag">
                    Pen down your Creepy Pasta, submit it with a mere click, and witness it echo through the forums instantly.
                </p>
        </li>

        <li class="howItWorksCards">

                <!-- icons wrap -->
                <div class="innercards_iconWrap">
                    <img src="../../../IMAGES/Icons/hourglass.webp" alt="death clock icon">
                </div>

                <!-- cards titles -->
                <h3 class="innercardsTitles">Instant Nightmares.</h3>

                <!-- cards content -->
                <p class="innerCardPtag">
                    Skip the line, unleash your story into the forums without waiting, and explore the macabre archives immediately.
                </p>

        </li>

    </ul>

    <!-- button -->
    <div id="howItWorks_btnWrap">
        <a href="/terrorTales" class="call_to_action_red" id="howItWorks_btn">Start Writting</a>
    </div>


</section>