<section id="howItWorks" class="sections">

        <!-- title -->
        <h2 class="about_title">
            HOW IT <span class="special_yellow_text">WORKS</span>
        </h2>


        <!-- content -->
        <ul id="howItWorksCards_wrap">

            <li class="howItWorksCards">

                <!-- icons wrap -->
                <div class="innercards_iconWrap">
                    <img src="../../IMAGES/Icons/tap.webp" alt="death clock icon">
                </div>

                <!-- cards titles -->
                <h3 class="innercardsTitles">Access the Death Clock</h3>

                <!-- cards content -->
                <p class="innerCardPtag">
                    Click the button below to begin your journey. Unveil the eerie mysteries of life and death.
                    through our unique algorithm.
                </p>

            </li>

            <li class="howItWorksCards">

                    <!-- icons wrap -->
                    <div class="innercards_iconWrap">
                        <img src="../../IMAGES/Icons/questionMark.webp" alt="death clock icon">
                    </div>

                    <!-- cards titles -->
                    <h3 class="innercardsTitles">Answer Questions</h3>

                    <!-- cards content -->
                    <p class="innerCardPtag">
                        Answer a series of questions designed to predict your lifespan.
                        Be honest, as these questions are based on real-life data.
                    </p>
            </li>

            <li class="howItWorksCards">

                    <!-- icons wrap -->
                    <div class="innercards_iconWrap">
                        <img src="../../IMAGES/Icons/hourglass.webp" alt="death clock icon">
                    </div>

                    <!-- cards titles -->
                    <h3 class="innercardsTitles">Calculate Lifespan</h3>

                    <!-- cards content -->
                    <p class="innerCardPtag">
                        Our algorithm processes your responses and calculates your lifespan.
                        The results are based on real-life data to reveal your estimated time of death.
                    </p>

            </li>

        </ul>

        <!-- button -->
        <div id="howItWorks_btnWrap">
            <a href="/deathClock/questions" class="call_to_action_red" id="howItWorks_btn">CALCULATE NOW</a>
        </div>


</section>
